@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgba(111, 152, 137, 0.519);
}

header {
    background-color: rgba(120, 186, 158, 0.742);
    margin:-10px; 
    width: 102vw;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 15px;
    color: rgb(14, 50, 32);
}


li {
    display: block;
    background-color: rgb(53, 120, 91);
    padding: 8px;
    color: whitesmoke;
    text-align: center;
    border: 1px solid rgba(14, 50, 32, 0.652);
    margin: 0px -10px 0px -10px;
    width: 100.5vw;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

li:hover {
    background-color: rgb(82, 168, 132);
}

main {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 85vw;
    margin: auto;
    padding: 10px;
    margin-top: 25px;
}

p{
    text-align: justify;
    text-indent: 15px;
}

#hamburguer {
    display: block;
    background-color: rgb(53, 120, 91);
    padding: 10px;
    color: rgba(120, 186, 158, 0.742);
    width: 98vw;
    text-align: center;
    cursor: pointer;
}

#hamburguer:hover {
    background-color: rgba(180, 253, 222, 0.964);
    color: rgb(53, 120, 91);
}

nav {
    display: none;
}