@charset "UTF-8";

@media screen and (min-width:668px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    #hamburguer {
        display: none;
    }
    li {
        display: inline-block;
        padding: 5px;
        width: 90px;
        margin-left: 8px;
    }
    nav {
        display: inline;
        margin-left: 20px;
        margin-top: 0px;
    }
    header {
        width: 101.3vw;
        height: 140px;
    }
    main {
        width: 650px;
    }
    h1 {
        padding-top: 30px;
        margin: 0px;
    }
}